#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.




compile '/' do
  filter :erb
  filter :redcloth
  filter :argh
  layout 'default'
  filter :typogruby
end


# By default, nanoc use the page name as folder name and add an index.html page (as in first case). Here, unless the page is named "index.something" we keep the page name.

route '*' do
  case item[:extension]
    when 'css'
      item.identifier.chop + '.' + item[:extension]
    when 'js'
      item.identifier.chop + '.' + item[:extension]
    when 'png'
      item.identifier.chop + '.' + item[:extension]
    when 'jpg'
      item.identifier.chop + '.' + item[:extension]
    when 'maxpat'
      item.identifier.chop + '.' + item[:extension]
    when 'txt'
      item.identifier.chop + '.' + item[:extension]
    when 'textile'
      if item[:content_filename] =~ /\/index.*$/ 
        item.identifier + 'index.html' 
      else 
        item.identifier.chop + '.html'
      end
    when 'txt'
      if item[:content_filename] =~ /\/index.*$/ 
        item.identifier + 'index.html' 
      else 
        item.identifier.chop + '.html'
      end
    end 
end


##############################################################################
# General rule
##############################################################################

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

##############################################################################
# Front page
##############################################################################

route '/' do
  '/index.html'
end

##############################################################################
# Static content, not used currently
##############################################################################

compile '/static/*/' do
end

route '/static/*/' do
  item.identifier[7..-2]
end



##############################################################################
# Generic rendering
##############################################################################

layout '/*/', :erb